* {
  box-sizing: border-box;
}

.flex-container {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: auto 10px;
  border-radius: 5px;
}

img {
  width: 200px;
  height: 200px;
}

.card-text{
  color: #f00;
}