* {
  box-sizing: border-box;
}

.flex-container {
  margin: auto 10px;
  border-radius: 5px;
}

img {
  width: 200px;
  height: 200px;
}

input{
  border: none;
  border-bottom: 1px solid #333;
  padding: 20px;
}

/* Navbar */
.navbar {
  box-shadow: 2px 2px 8px #000;
}
